Main_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
.\MetaHumans\Common\Face\Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
.\MetaHumans\NewMetaHumanIdentity\Face\NewMetaHumanIdentity_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text